{
  "extends": [
    "./node_modules/@moia-oss/eslint-prettier-typescript-config/config/eslint.js",
    "./node_modules/@moia-oss/eslint-prettier-typescript-config/config/eslint-strict.js"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "@typescript-eslint/consistent-type-assertions": [2, { "assertionStyle": "as" }]
  }
}
